### Predict survival on the Titanic

In [1]:
#!pip3 install tensorflow

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
#import tensorflow as tf
#import tensorflow_decision_forests as tfdf

In [3]:
train_data=pd.read_csv('../Titanic/train.csv')
test_data=pd.read_csv('../Titanic/test.csv')

In [4]:
#train_data.head()

In [5]:
y=train_data["Survived"]
features=["Sex","Pclass","SibSp","Parch"]
X=pd.get_dummies(train_data[features])
X_Test=pd.get_dummies(test_data[features])
model=RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)
model.fit(X,y)
model.score(X,y)

0.8159371492704826

In [6]:
#train_data['Age'].fillna(value=train_data['Age'].mean(), inplace=True)
train_data['Sex_Category']=train_data['Sex'].replace(['male', 'female'],[0, 1])
train_data.loc[train_data["Embarked"].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Category
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,1

In [7]:
train_data[(train_data["Fare"].between(75.0,85.0)) & (train_data["Pclass"]==1) & (train_data["Cabin"].str[0]=="B")]
train_data['Embarked'].fillna(value='C', inplace=True)
#train_data.isnull().sum()

In [8]:
train_data['Salutation']=train_data["Name"].str.extract('([A-Za-z]+)\.',expand=False)

In [9]:
train_data['Salutation'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'Countess',
       'Jonkheer'], dtype=object)

In [10]:
train_data.loc[train_data["Age"].isnull()]['Salutation'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Dr'], dtype=object)

In [11]:
train_data["Age"]=train_data.groupby('Salutation')['Age'].apply(lambda x:x.fillna(x.median()))
#train_data.info()

In [12]:
#train_data.describe(include='all')
#Women=train_data.loc[train_data.Sex == 'female']['Survived']
#men=train_data.loc[train_data.Sex == 'male']['Survived']
#sns.catplot(x='Survived',col='Pclass',kind='count',data=train_data)
#plt.show()
#sns.catplot(x='Survived',col='Age',kind='count',data=train_data)
#plt.show()
#sns.catplot(x='Survived',col='Sex',kind='count',data=train_data)
#plt.show()

In [13]:
y=train_data["Survived"]
features=["Sex","Pclass","SibSp","Parch","Age"]
#features=["Sex","Pclass","Age"]
X=pd.get_dummies(train_data[features])
#X_Test=pd.get_dummies(test_data[features])
model=RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)
model.fit(X,y)
model.score(X,y)

0.8473625140291807

In [243]:
#Womenrate=sum(Women)/len(Women)
#menrate=sum(men)/len(men)
#allrate=sum(all)/len(all)

In [165]:
#print(Womenrate)
#print(menrate)
#print(allrate)

### Features
PassengerId,Survived,Pclass,Age,Sex_Category,SibSp,Parch,Fare