### Predict survival on the Titanic

In [29]:
#!pip3 install tensorflow_decision_forests --upgrade

In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
#import tensorflow_decision_forests as tfdf

In [53]:
df=pd.read_csv('../Titanic/train.csv')
#test_data=pd.read_csv('../Titanic/test.csv')

In [54]:
#train_data.head()

In [55]:
y=df["Survived"]
features=["Sex","Pclass","SibSp","Parch"]
X=pd.get_dummies(df[features])
model=RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)
model.fit(X,y)
model.score(X,y)

0.8159371492704826

In [56]:
#train_data['Age'].fillna(value=train_data['Age'].mean(), inplace=True)
df['Sex_Category']=df['Sex'].replace(['male', 'female'],[0, 1])
df.loc[df["Embarked"].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Category
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,1

In [57]:
df[(train_data["Fare"].between(75.0,85.0)) & (df["Pclass"]==1) & (df["Cabin"].str[0]=="B")]
df['Embarked'].fillna(value='C', inplace=True)
#train_data.isnull().sum()

In [58]:
df['Salutation']=df["Name"].str.extract('([A-Za-z]+)\.',expand=False)

In [59]:
df['Salutation'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'Countess',
       'Jonkheer'], dtype=object)

In [60]:
df.loc[df["Age"].isnull()]['Salutation'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Dr'], dtype=object)

In [61]:
df["Age"]=df.groupby('Salutation')['Age'].apply(lambda x:x.fillna(x.median()))

In [62]:
y=df["Survived"]
features=["Sex","Pclass","SibSp","Parch","Age"]

In [63]:
X=pd.get_dummies(df[features])
model=RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)
model.fit(X,y)
model.score(X,y)

0.8473625140291807

In [64]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=1).fit(X, y)
clf.score(X,y)

0.7912457912457912

In [78]:
df.head()

df_Updated=df[['PassengerId','Survived','Pclass','Age','SibSp','Parch','Fare','Embarked','Sex_Category','Salutation']]
df_Updated.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,Sex_Category,Salutation
0,1,0,3,22.0,1,0,7.2500,S,0,Mr
1,2,1,1,38.0,1,0,71.2833,C,1,Mrs
2,3,1,3,26.0,0,0,7.9250,S,1,Miss
3,4,1,1,35.0,1,0,53.1000,S,1,Mrs
4,5,0,3,35.0,0,0,8.0500,S,0,Mr

In [79]:
x_train, x_test, y_train, y_test = train_test_split(df_Updated, y, test_size=0.25, random_state=16)

logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)
logisticRegr.score(x_train, y_train)

ValueError: could not convert string to float: 'Q'

### Features
PassengerId,Survived,Pclass,Age,Sex_Category,SibSp,Parch,Fare